.home__work-section {
  position: absolute;
  display: grid;
  top: 90%;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: var(--p-1);
  width: 80%;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-3);

  .home__work-card {
    position: relative;
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    h2 {
      position: absolute;
      top: 130px;
      text-align: center;
      width: 100%;
      font-size: 1.2rem;
      border-radius: 1px;
      text-transform: uppercase;
      color: var(--grey-500);

      span {
        background-color: var(--white-color);
        padding: 1px 10px;
        border-radius: 2px;
      }
    }
  }
}
